AI Expense Tracker.json
{
  "name": "AI Expense Tracker",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yDEZpuARCt5Q2Wtle40enbw7UXZHlm1i7refItjwQRI",
          "mode": "list",
          "cachedResultName": "Expense Report Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yDEZpuARCt5Q2Wtle40enbw7UXZHlm1i7refItjwQRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yDEZpuARCt5Q2Wtle40enbw7UXZHlm1i7refItjwQRI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.vendor }}",
            "Date": "={{ $json.date }}",
            "Amount": "={{ $json.amount }}",
            "Category": "={{ $json.category }}",
            "Timestamp": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        96
      ],
      "id": "38b7cfdd-92e7-442a-8483-12c36401e513",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r9YEkcBC1dwpDN4r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const attachment = await this.helpers.getBinaryDataBuffer(0, 'attachment_0');\nconst base64 = attachment.toString('base64');\nconst mimeType = $input.item.binary.attachment_0.mimeType;\n\nreturn [{\n  json: {\n    imageBase64: base64,\n    mimeType: mimeType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "26ce2dff-220d-42e7-9fb0-6856bef066d2",
      "name": "File to Base64 Conversion"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:receipt has:attachment from:(deepshika2129@gmail.com OR praveenarivu75@gmail.com)"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "0f37b41b-0f68-4f17-b382-a57c0ede1519",
      "name": "Invoice Email Received",
      "credentials": {
        "gmailOAuth2": {
          "id": "i6nE1nzorqXbh3Ap",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": ""
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"{{ $json.mimeType }}\",\n            \"data\": \"{{ $json.imageBase64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract the following from this receipt: vendor name, date, currency, total amount, and expense category (Groceries, food, transport, shopping, utilities). Return as JSON only.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        0
      ],
      "id": "4eaa461f-6785-4717-aefb-4cd72a709f57",
      "name": "AI Extracts OCR Data"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.content[0].text;\nconst cleaned = response.replace(/```json\\n|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    vendor: parsed.vendor_name,\n    date: parsed.date,\n    currency: parsed.currency,\n    amount: parsed.total_amount,\n    category: parsed.expense_category\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "380d02fe-706b-47dc-b339-945f110446eb",
      "name": "Json String to Json object"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "623e742f-bfd7-4ff5-b6be-468bfc906829",
              "leftValue": "={{ $json.vendor }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "bff82253-9b96-4081-9f5d-d9c29eac0358",
              "leftValue": "={{ $json.date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "464c95ee-30ea-4a5a-b031-68908cc99b97",
              "leftValue": "={{ $json.amount }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "c695f32e-b11f-4677-ba3d-40f535fb52e5",
              "leftValue": "={{ $json.category }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        0
      ],
      "id": "15316308-b9a1-426d-aada-4f2d4e292ac7",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "ERR: Could not extract receipt data. Please check the attachment."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1312,
        -96
      ],
      "id": "be8216ff-e3fa-408a-bff0-680a231e948c",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "File to Base64 Conversion": {
      "main": [
        [
          {
            "node": "AI Extracts OCR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Email Received": {
      "main": [
        [
          {
            "node": "File to Base64 Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extracts OCR Data": {
      "main": [
        [
          {
            "node": "Json String to Json object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json String to Json object": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f49c9fc-3df5-47dd-b37e-267c8597226c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c667f6c65fad7d493ebb2b0f007acb5c5329cf491bf2d3855b86d268f75000f4"
  },
  "id": "ZF1oCG0tlk7lPexk",
  "tags": []
}